.Search-Response{
    display: block;
    margin: 0 auto;
    text-align: left;
    max-width: 800px;
    margin-top: 35px;
}

.Search-Response .word{
    font-size: 30pt;
    font-weight: 700;
}

.Search-Response .word-type{
    font-size: 16pt;
    font-style: italic;
}

.Search-Response .pronunciation{
    font-size: 16pt;
}

.Search-Response .definition .response:first-letter{
    text-transform: uppercase;
}

.Search-Response .search-headings{
    margin-top: 25px;
}

.Search-Response  .response{
    font-size: 15pt;
}

.Search-Response .synonyms{
    word-spacing: 4px;
}

.Search-Response .example-sentence{
    font-size: 15pt;
}

.Search-Response .example-sentence:first-letter{
    text-transform: uppercase;
}